* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #111;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #222;
  height: 100vh;
  padding: 25px;
}

.weather-app {
  width: 400px;
}

.header-container {
  border-radius: 5px 5px 0 0;
  background: #aee;
  padding: 10px 0;
  text-align: center;
}

.header-container .header-title {
  font-size: 30px;
}

.weather-info-container {
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  padding: 15px 0 25px;
  text-align: center;
}

.weather-info-container:hover {
  cursor: pointer;
}

.weather-description,
.weather-city {
  text-transform: capitalize;
}

.weather-temperature-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
}

.weather-temperature-container .weather-temperature,
.weather-temperature-container h2 {
  font-size: 50px;
}

.weather-description {
  padding-bottom: 15px;
  font-size: 25px;
}

.units {
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
}